/* Variables globales */

:root {
    --fondo_color: #121212;
    --texto_princ: #E0E0E0;
    --texto_secund: #B0BEC5;
    --acento_color: #FF4081;
    --enlace_color: #5f8ec9;
}

* {
    font-family: 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
}

/* Detalles del cuerpo*/

body {
    background-color: #111111;
    color: var(--texto_princ);
}

/* Header */

#logo {
    display: flex;
    top: 0px;
    justify-content: space-between;
    align-items: center;
    background: var(--fondo_color);
    position: fixed;
    width: 100%;
    padding: 0px 10px;
    z-index: 1;
}

#hamburguers {
    display: flex;
    height: 50px;
}

#hamburguers img {
    cursor: pointer;
    margin-right: 10px;
}

#hamburguer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#hamburguer span {
    width: 30px;
    height: 5px;
    background: #B0BEC5;
    margin-top: 5px;
    border-radius: 10px;
}

#objetivos {
    background: #121a25;
    position: fixed;
    width: 100%;
    right: -100%;
    margin-top: 50px;
    height: calc(100vh - 50px);
    padding-top: 30px;
    overflow: auto;
    transition: all;
    transition-duration: 0.5s;
    max-width: 800px;
}

.cerrar_obj {
    background: #5f8ec9;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.obj_head {
    border-bottom: solid 3px var(--acento_color);
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 23px;

}

/* Navbar*/

#navbar {
    display: flex;
    position: fixed;
    top: 0px;
    right: -50%;
    padding: 15px 10px;
    background-color: #121a25;
    border-radius: 10px 0px 0px 10px;
    width: 50%;
    max-width: 400px;
    height: 90%;
    margin-top: 55px;
    transition: all;
    transition-duration: 0.5s;
}

#header_bar {
    font-weight: bold;
    font-size: 20px;
    border-bottom: solid 3px #FF4081;
}

#navbar ul li a {
    font-weight: bold;
    color: var(--texto_secund);
}

#navbar ul li a:hover {
    color: var(--acento_color);
}

#navbar ul li {
    margin: 20px 5px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sections {
    max-width: 800px;
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(90deg, var(--fondo_color), #0a2730, var(--fondo_color));
    border-radius: 50vh 50vw;
    height: 100vh;
}

#home_head {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont_head {
    margin: 10px 10px;
    text-align: end;
    padding: 10px;
    border-bottom: solid 2px #FF4081;
    color: var(--enlace_color);
}

.text_section {
    margin: 10px 30px;
    padding: 20px;
    background: var(--fondo_color);
    border-radius: 20px;
    box-shadow: inset 0px 0px 10px var(--enlace_color);
}

.text_section li {
    margin-bottom: 3px;
    color: var(--texto_secund);
}

#unidades {
    margin-left: 10px;
}

p {
    margin: 0px 30px 10px 30px;
}

.p_1 {
    color: var(--texto_secund);
}

.tematics {
    color: var(--texto_secund);
    margin: 20px 30px 10px 30px;
    background: #1c212b;
    padding: 10px;
}

span {
    font-weight: bold;
}

